@import base

section
    margin: 0 auto

section, div
    border-radius: 18px

.heading-section
    margin-top: 40px
    width: 960px
    height: 408px
    background: url('../img/bammer-gl-1.png')
    border: 1px solid #DAE0E5
    box-sizing: border-box

    div
        display: flex
        align-items: center

        h1
            

