@import base

section
    margin: 0 auto

section, div
    border-radius: 18px

.heading
    margin-top: 40px
    width: 960px
    height: 408px
    background: url('../img/bammer-gl-1.png')
    border: 1px solid #DAE0E5
    box-sizing: border-box

.logo
    display: flex
    align-items: center
    margin-top: 39px
    margin-left: 46px

    h1
        margin-left: 17px
        font-size: 30px

.description
    width: 262px
    line-height: 23px
    margin-top: 108px
    margin-left: 46px

.cams
    margin-top: 103px
    width: 870px
    display: flex
    justify-content: space-between

.cam-wrapper
    text-align: center
    p
        text-transform: uppercase
        color: #747474
        margin-top: 15px
        cursor: pointer

.cam
    background: $gradient
    width: 390px
    height: 619px
    box-shadow: 0px 25px 60px #48AE4B

    img
        margin-top: 80px

.features
    width: 963px
    margin-top: 64px
    .feature-set
        display: flex
        justify-content: space-between
        margin-top: 39px
        .feature
            width: 213px
            height: 213px
            background: $gradient
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            color: white
            text-align: center
            .icons
                display: flex
                align-items: center
                height: 110px
                img
                    margin-left: 16px
                    &:nth-child(1)
                        margin-left: 0
                div
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-left: 16px
                    img
                        margin-left: 0
                        margin-top: 12px
                        &:nth-child(1)
                            margin-top: 0
            p
                margin-top: 21px


