section.heading
    .logo
        img(src="../img/photoeditorsdk-export.png", alt="Лого")
        h1 Датчик
            br
            |спокойствия
    .description
        p Комплекс из камеры
            br
            |и мобильного приложения, который помогает
            br
            |в любой момент убедиться, что с близкими и домом всё в порядке.