<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        section.heading
            .logo
                img(src="../img/photoeditorsdk-export.png", alt="Лого")
                h1 Датчик
                    br
                    |спокойствия
            .description
                p Комплекс из камеры
                    br
                    |и мобильного приложения, который помогает
                    br
                    |в любой момент убедиться, что с близкими и домом всё в порядке.
        section.cams
            .cam-wrapper
                .cam
                    img(src="../img/cam.png", alt="Камера")
                p Подробнее
            .cam-wrapper
                .cam
                    img(src="../img/cam.png", alt="Камера")
                p Подробнее
        section.features
            h1 Приобрести
            .feature-set
                .feature
                    .icons
                        img(src="../img/feature-cam.png", alt="Камера")
                    p Покупка
                .feature
                    .icons
                        img(src="../img/feature-cal.png", alt="Календарь")
                        img(src="../img/feature-cam.png", alt="Камера")
                    p Рассрочка
                .feature
                    .icons
                        img(src="../img/feature-100.png", alt="100")
                        img(src="../img/feature-cam.png", alt="Камера")
                        img(src="../img/feature-wifi.png", alt="Wi-Fi")
                    p Пакет
                        br
                        |"Все под контролем"
                .feature
                    .icons
                        img(src="../img/feature-100.png", alt="100")
                        div
                            img(src="../img/feature-btv.png", alt="btv")
                            img(src="../img/feature-cam.png", alt="Камера" style="height: 74px; width: 33px") 
                        img(src="../img/feature-wifi.png", alt="Wi-Fi")
                    p Пакет 
                        br
                        |"Тысяча пятьсот"
            

        script(src="../js/main.js")